{% set title = "Document" %}
{% extends "layout.njk" %}

{% block main %}
<section>
  <div class="container">
    {% set name = "world" %}
    {% include "intro/intro.njk" %}
    <p>Hello World</p>
  </div>
</section>
{% endblock %}