// Configuration
// Media: Blockquote, Image, and others
$rtf-media-space: $spacer * 2;

// -- Fonts
$rtf-font-family-base: $font-family-base;
$rtf-font-family-heading: $font-family-base;
$rtf-font-family-monospace: monospace;
$rtf-font-size-base: 18px;

// -- Heading (3 steps)
// ---- Step 1
$rtf-heading-1-size: 1.5em; // 28px
$rtf-heading-1-weight: 700;
$rtf-heading-1-space: $rtf-media-space * 0.4;

// ---- Step 2
$rtf-heading-2-size: 1.25em;
$rtf-heading-2-weight: 400;
$rtf-heading-2-space: $rtf-media-space * 0.4;

// ---- Step 3
$rtf-heading-3-size: 1em;
$rtf-heading-3-weight: 700;
$rtf-heading-3-space: $rtf-media-space * 0.4;

// -- Color
// ---- Brand
$rtf-color-primary: $primary;
$rtf-color-secondary: $secondary;

// ---- Body
$rtf-color-base: #181818;
$rtf-color-body: transparentize($rtf-color-base, 0.2);

// ---- Headings
$rtf-color-headings: $primary;

// ---- Link
$rtf-color-link: $rtf-color-primary;

// -- List
$rtf-list-indent: 25px;

// ---- Unordered
$rtf-bullet-size: 8px;
$rtf-bullet-color: $primary;

// Blockquote
$rtf-quote-symbol-space: 40px;
$rtf-quote-symbol-size: $rtf-quote-symbol-space * 0.5;
$rtf-quote-content-space: 5px;

.richtext {
  @include clearfix;

  font-family: $rtf-font-family-base;
  font-size: round($rtf-font-size-base * 0.88889);
  line-height: 1.5;
  color: $rtf-color-body;

  @include media-breakpoint-up(lg) {
    font-size: $rtf-font-size-base;
    line-height: 1.5;
  }

  & > * {
    margin-bottom: $rtf-media-space * 0.4;
  }

  a:not([class^='btn']) {
    color: $rtf-color-link;
  }

  small {
    font-size: round($rtf-font-size-base * 0.9);
  }

  code {
    font-family: $rtf-font-family-monospace;
  }

  // Headings General
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $rtf-font-family-heading;
    color: $rtf-color-headings;
  }

  // -- Heading Step 1
  h1,
  h2 {
    font-size: $rtf-heading-1-size;
    font-weight: $rtf-heading-1-weight;

    @include media-breakpoint-up(lg) {
      margin-top: $rtf-media-space;
      margin-bottom: $rtf-heading-1-space;
    }
  }

  // -- Heading Step 2
  h3,
  h4 {
    font-size: $rtf-heading-2-size;
    font-weight: $rtf-heading-2-weight;

    @include media-breakpoint-up(lg) {
      margin-top: $rtf-media-space;
      margin-bottom: $rtf-heading-2-space;
    }
  }

  // -- Heading Step 3
  h5,
  h6 {
    font-size: $rtf-heading-3-size;
    font-weight: $rtf-heading-3-weight;

    @include media-breakpoint-up(lg) {
      margin-top: $rtf-media-space;
      margin-bottom: $rtf-heading-3-space;
    }
  }

  p {
    &.intro {
      font-size: 1.125em;
      color: $rtf-color-base;
    }
  }

  ul {
    list-style: none;
    padding-left: $rtf-list-indent;

    li {
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        top: 1em * 0.5;
        left: -($rtf-list-indent) + ($rtf-bullet-size * 0.25);
        width: $rtf-bullet-size;
        height: $rtf-bullet-size;
        background-color: $rtf-bullet-color;
        border-radius: 50%;
      }
    }
  }

  ol {
    padding-left: $rtf-list-indent;
  }

  li {
    padding-left: $rtf-list-indent * 0.25;

    & + li {
      margin-top: $rtf-list-indent * 0.25;
    }
  }

  blockquote {
    position: relative;
    padding-left: $rtf-quote-symbol-space;
    margin-top: $rtf-media-space;
    margin-bottom: $rtf-media-space;

    // Open and Close Quote
    &:before,
    p:last-of-type:after {
      content: ' ';
      opacity: 0.1;
      display: block;
      position: absolute;
      width: $rtf-quote-symbol-size;
      height: $rtf-quote-symbol-size;
      background-repeat: no-repeat;
      background-size: contain;
    }

    // Open quote
    &:before {
      top: 0;
      left: 0;
      background-image: url('data:image/svg+xml,<svg width="20" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M0 18V8c0-2.551.692-4.348 2-6C3.462 1.087 5.436.297 8 0v5c-1.497.226-2.648.66-4 1-.257.933-.79 1.823-1 3h5v9H0zm12 0V8c0-2.551.692-4.348 2-6 1.462-.913 3.436-1.703 6-2v5c-1.497.226-2.648.66-4 1-.257.933-.79 1.823-1 3h5v9h-8z" fill-rule="evenodd"/></svg>');
    }

    // Close quote
    p:last-of-type:after {
      right: 0;
      bottom: 0;
      background-image: url('data:image/svg+xml,<svg width="20" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M20 0v10c0 2.551-.692 4.348-2 6-1.462.913-3.436 1.703-6 2v-5c1.497-.226 2.648-.66 3-1 1.257-.933 1.79-1.823 2-3h-5V0h8zM8 0v10c0 2.551-.692 4.348-2 6-1.462.913-3.436 1.703-6 2v-5c1.497-.226 2.648-.66 3-1 1.257-.933 1.79-1.823 2-3H0V0h8z" fill-rule="evenodd"/></svg>');
    }

    // Content
    p {
      position: relative;
      font-size: $rtf-heading-2-size;
      line-height: 1.5;
      color: $rtf-color-base;

      &:last-of-type {
        margin-bottom: $rtf-quote-content-space;
        padding-right: $rtf-quote-symbol-space;
      }
    }

    // Footer and Citation
    cite {
      opacity: 0.8;
      padding-right: $rtf-quote-symbol-space;
      font-size: 0.9em;
      font-style: normal;
    }
  }

  figure,
  img {
    display: block;
    max-width: 100%;
    height: auto;

    &.alignleft {
      float: left;
      max-width: 33%;
      margin-top: $rtf-media-space * 0.5 * 0.25;
      margin-right: $rtf-media-space * 0.5;
      margin-bottom: $rtf-media-space * 0.5;
    }

    &.alignright {
      float: right;
      max-width: 33%;
      margin-top: $rtf-media-space * 0.5 * 0.25;
      margin-left: $rtf-media-space * 0.5;
      margin-bottom: $rtf-media-space * 0.5;
    }

    &.aligncenter {
      float: none;
      margin-top: $rtf-media-space * 0.5;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $rtf-media-space * 0.5;

      @include media-breakpoint-up(md) {
        margin-top: $rtf-media-space;
        margin-bottom: $rtf-media-space;
      }
    }

    &.alignnone {
      float: none;
      width: 100%;
      margin-top: $rtf-media-space * 0.5;
      margin-bottom: $rtf-media-space * 0.5;

      @include media-breakpoint-up(md) {
        margin-top: $rtf-media-space;
        margin-bottom: $rtf-media-space;
      }
    }
  }

  table {
  }

  tr {
    border-bottom: 1px solid #e8e8e8;

    &:last-child {
      border-bottom: 0;
    }
  }

  th,
  td {
    padding: ($spacer * 0.5) ($spacer * 0.75);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  td {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  %iframe-contained {
    position: relative;
    margin-top: $rtf-media-space * 0.5;
    margin-bottom: $rtf-media-space * 0.5;

    @include media-breakpoint-up(lg) {
      margin-top: $rtf-media-space;
      margin-bottom: $rtf-media-space;
    }

    video,
    iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }

  .richtext-media {
    &-1x1 {
      @extend %iframe-contained;
      padding-bottom: 100%;
    }

    &-4x3 {
      @extend %iframe-contained;
      padding-bottom: 75%;
    }

    &-16x9 {
      @extend %iframe-contained;
      padding-bottom: 56.25%;
    }

    &-2x1 {
      @extend %iframe-contained;
      padding-bottom: 50%;
    }
  }

  .gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: $rtf-media-space * 0.5;
    margin-bottom: $rtf-media-space * 0.5;

    @include media-breakpoint-up(md) {
      margin-top: $rtf-media-space;
      margin-bottom: $rtf-media-space;
    }

    // @include clearfix;
    // margin: ($spacer) (-$spacer);

    // @include media-breakpoint-up(md) {
    //   margin: ($spacer * 1.5) (-44px);
    // }

    // @include media-breakpoint-up(lg) {
    //   margin: ($spacer * 2) (-136px);
    // }

    // @include media-breakpoint-up(xl) {
    //   margin-left: -190px;
    //   margin-right: -190px;
    // }

    // WordPress automaically adds br to clearfix
    // Disable the clearfix as we set the case for every columns

    br {
      display: none;
    }
  }

  .gallery-item {
    display: block;
    position: relative;
    overflow: hidden;
    width: 33.33333%;
    padding: 1px;
    margin-bottom: 0;

    &:hover {
      .gallery-icon {
        img {
          transform: scale(1.05) translateZ(0);
        }
      }
    }
  }

  .gallery-icon {
    display: block;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform 0.5s;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .gallery-caption {
    display: none;
  }

  // Minimum size for gallery is 3 columns
  // This will force anything lower to become 3 columns

  .gallery-columns-1 {
    .gallery-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .gallery-columns-2 {
    .gallery-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .gallery-columns-3 {
    .gallery-item {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }

  .gallery-columns-4 {
    .gallery-item {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;

      @include media-breakpoint-up(sm) {
        flex: 0 0 25%;
        width: 25%;
      }
    }
  }

  .gallery-columns-5 {
    .gallery-item {
      flex: 0 0 33.33333%;
      width: 33.33333%;

      @include media-breakpoint-up(md) {
        flex: 0 0 20%;
        width: 20%;
      }
    }
  }

  // Maximum size for gallery is 6 columns
  // This will force anything higher to become 6 columns

  .gallery-columns-6,
  .gallery-columns-7,
  .gallery-columns-8,
  .gallery-columns-9 {
    .gallery-item {
      flex: 0 0 33.33333%;
      width: 33.33333%;

      @include media-breakpoint-up(sm) {
        flex: 0 0 25%;
        width: 25%;
      }

      @include media-breakpoint-up(md) {
        flex: 0 0 20%;
        width: 20%;
      }

      @include media-breakpoint-up(xl) {
        flex: 0 0 16.66667%;
        width: 16.66667%;
      }
    }
  }

  .media-container.alignright {
    float: none;

    @include media-breakpoint-up(lg) {
      float: right;
    }
  }

  .attachment {
    display: flex;
    align-items: center;

    margin-top: $rtf-media-space * 0.4;
    margin-bottom: $rtf-media-space * 0.4;
    border: 1px solid #e8e8e8;
    font-size: $font-size-sm;
    transition: all 0.15s;

    @include media-breakpoint-up(md) {
      margin-top: $rtf-media-space;
      margin-bottom: $rtf-media-space;
    }

    &:hover,
    &:focus {
      border-color: $primary;
    }

    & + .attachment {
      margin-top: -($rtf-media-space) * 0.4 * 0.5;

      @include media-breakpoint-up(md) {
        margin-top: -($rtf-media-space) * 0.75;
      }
    }
  }

  .attachment-cover {
    padding: $rtf-media-space * 0.4 * 0.75;

    @include media-breakpoint-up(md) {
      padding: $rtf-media-space * 0.4;
    }

    img {
      min-width: 36px;
    }
  }

  .attachment-content {
    flex: 1;
    flex-wrap: nowrap;
    margin-right: $rtf-media-space * 0.4 * 0.75;
    padding-right: 40px + $rtf-media-space * 0.4 * 0.75;
    background-image: url('../assets/icon-download.svg');
    background-repeat: no-repeat;
    background-position: right center;

    @include media-breakpoint-up(md) {
      margin-right: $rtf-media-space * 0.4;
      padding-right: 40px + $rtf-media-space * 0.4;
    }
  }

  .attachment-title {
    display: block;
    margin-bottom: $rtf-media-space * 0.4 * 0.25;
    font-weight: 700;
    line-height: 1.25;
    color: $headings-color;
  }

  .attachment-caption {
    display: block;
    color: $text-muted;
  }

  .accordion {
    border-bottom: 1px solid #e8e8e8;

    button {
      appearance: none;
      width: 100%;
      border: 0;
      background: none;
      margin: 0;
      text-align: left;
      cursor: pointer;
    }

    &.active {
      .accordion-header:after {
        transform: translateY(-50%) rotate(0);
      }
    }
  }

  .accordion-header {
    position: relative;
    padding-top: $rtf-media-space * 0.4;
    padding-left: 0;
    padding-right: 40px; // Icon (:after)
    padding-bottom: $rtf-media-space * 0.4;
    font-size: $font-size-lg;
    color: $primary;

    &:after {
      content: '×';
      position: absolute;
      top: 50%;
      right: $rtf-media-space * 0.4;
      transform: translateY(-50%) rotate(45deg);
      transition: all 0.25s;
    }
  }

  .accordion-content {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s;
    will-change: max-height;
  }

  & > *:first-child {
    margin-top: 0;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
