<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <title>{{ title }}</title>
    {% if basePath %}<base href="{{ basePath }}" target="_self">{% endif %}
    <link href="{{ basePath }}{{ canonicalUrl }}" rel="canonical">
    <!-- inject:css -->
    <!-- endinject -->
  </head>

  <body>
    {% include "header/header.html" %}
    <main>
      {% block main %}{% endblock %}
    </main>
    {% include "footer/footer.html" %}
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
