html,
body {
  min-height: 100%;
}

html {
  font-size: $font-size-html * .875; // Computed: 14px
  font-weight: $font-weight-base;

  @include media-breakpoint-up(md) {
    font-size: $font-size-html; // Computed: 16px
  }

  @include cjk("all", true) {
    // CJK font looks visually bigger and 
    // usually needs to be reduced by 10% 
    // to match with latin characters size

    font-size: $font-size-html * .9375; // Computed: 15px
  }
}

body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include cjk("ja") {
    font-family: $font-family-base-ja;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: $headings-font-weight;

  @include cjk("ja") {
    font-family: $headings-font-family-ja;
  }
}

h1 {
  font-size: $h1-font-size * .8; // Computed: 28px

  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: $h2-font-size * .89275; // Computed: 25px

  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $h3-font-size * 0.85;

  @include media-breakpoint-up(lg) {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: $h4-font-size * 0.85;

  @include media-breakpoint-up(lg) {
    font-size: $h4-font-size;
  }
}

h5 {
  font-size: $h5-font-size;

  @include media-breakpoint-up(lg) {
    font-size: $h5-font-size;
  }
}

h6 {
  font-size: $h6-font-size * 1.125;

  @include media-breakpoint-up(lg) {
    font-size: $h6-font-size;
  }
}

p {
  margin-bottom: $spacer;
  font-weight: $font-weight-base;
  line-height: 1.5;

  @include cjk {
    line-height: 1.75;
  }

  &:last-child {
    margin-bottom: 0;
  }
}