// Collection of common useful action

// Useful mixins from Bootstrap:
// @mixin list-unstyled
// @mixin clearfix
// @mixin text-truncate

@mixin button-unstyled {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: $black;
  font-family: $font-family-base;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin colSpacer($spacing: $spacer * .5) {
  margin-left: -$spacing;
  margin-right: -$spacing;

  & > [class*='col'] {
    padding-left: $spacing;
    padding-right: $spacing;
  }
}

@mixin positionCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Override styles for CJK
@mixin cjk($lang: "all", $root: false) {
  $el: ();

  @if $enable-lang-ja and ($lang == "ja" or $lang == "all") {
    $el: if(length($el) > 0, append($el, if($root != true, ":lang(ja) &", "&:lang(ja)"), "comma"), if($root != true, ":lang(ja) &", "&:lang(ja)"));
  }

  @if $enable-lang-zh and ($lang == "zh" or $lang == "all") {
    $el: if(length($el) > 0, append($el, if($root != true, ":lang(zh) &", "&:lang(zh)"), "comma"), if($root != true, ":lang(zh) &", "&:lang(zh)"));
  }

  @if $enable-lang-ko and ($lang == "ko" or $lang == "all"){
    $el: if(length($el) > 0, append($el, if($root != true, ":lang(ko) &", "&:lang(ko)"), "comma"), if($root != true, ":lang(ko) &", "&:lang(ko)"));
  }

  #{$el} {
    @content
  }
}